In [1]:
import pandas as pd

In [49]:
df = pd.read_csv(r"c:\Users\ASUS-1\Downloads\archive (3)\spotify_millsongdata.csv")

In [50]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [51]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [52]:
df.shape

(57650, 4)

In [53]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [54]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [55]:
df.head(10)

,artist,song,text
0,Waylon Jennings,"Lock, Stock And Teardrops",Someday I won't come running when you call \r...
1,Everclear,White Men In Black Suits,I am just a boy working in a record store \r\...
2,Rascal Flatts,Holes,There's three in the wall from those pictures ...
3,Pearl Jam,I Believe In Miracles,I used to be on an endless run \r\nBelieved i...
4,Chicago,Prima Donna,"You've got the look, they'll never forget \r\..."
5,Cyndi Lauper,Maybe He'll Know,Maybe he'll know \r\nI'm not so sure \r\nMay...
6,Ella Fitzgerald,Easy To Love,I know too well that I'm just wasting precious...
7,Cher,It All Adds Up Now,The way you look at her \r\nIs the way you us...
8,Cat Stevens,Miles From Nowhere,Miles from nowhere \r\nI guess I'll take my t...
9,Squeeze,Annie Get Your Gun,"She goes for her medical \r\nShe's passed, it..."

In [56]:
df['text'][0]

"Someday I won't come running when you call  \r\nThe way you hurt me it's a wonder I'm still here at all  \r\nSomeday you'll wake up and you'll find yourself alone  \r\nLock, stock and teardrops I'll be gone.  \r\n  \r\nI can't go on the way you make me live  \r\nMake me cry and every time expect me to forgive  \r\nSomeday you'll wake up to a cold and lifted dawn  \r\nLock, stock and teardrops I'll be gone.  \r\n  \r\nSomeday I'll wake up find me strength and move along  \r\nLock, stock and teardrops I'll be gone.  \r\nLock, stock and teardrops I'll be gone\r\n\r\n"

In [72]:
df = df.sample(5000)

In [58]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [59]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [60]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [61]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ASUS-1\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [62]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [63]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [64]:
similarity[0]

array([1.        , 0.02613876, 0.03536392, ..., 0.02873294, 0.03428914,
       0.01641764])

In [65]:
df[df['song'] == 'Crying Over You']

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [66]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [70]:
song_name = 'Beautiful'
if song_name in df['song'].values:
	print(recommendation(song_name))
else:
	print(f"'{song_name}' not found in the DataFrame.")

['Got Everything', 'Show Me', 'We Got Each Other', 'Good Things', 'One Last Time', "I've Got Friends That Do", 'Still Feels Good', "You Don't Need Anyone", 'Butterfly', 'Got To Get Better In A Little While', 'You Really Got Me', 'Paper Friends', 'I Get No Sleep', 'Love On My Mind', 'Let Me Love You', 'Walk Away', 'Feels So Good', 'You Really Got Me', 'Black Magic Woman', 'I Need Love']

In [71]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))